:root {
    --ff-primary: 'Hind Siliguri', sans-serif;
    --ff-accent: 'Padauk', sans-serif;
    --med-blue: rgb(0, 119, 255);
}

body {
    background-color: #f5f5f5;
    color: whitesmoke;
    font-family: var(--ff-primary);
    margin: 0 auto;
    text-align: center;
    align-content: center;
}

#post {
    background-color: grey;
    padding: 1em;
    font-family: inherit;
    /*width: 50vh;*/
}

img {
    object-fit: cover;
    width: 100%;
    max-height: 400px;
}

#add-new,
#save-friend-btn {
    background-color: navy;
    color: whitesmoke;
    border-radius: 12px;
}

#container-div-1 {
    display: flex;
    
}

.side-div {
    width: 30vw;
    height: 30vh;
}

#container-div-3 {
    display: grid;
    grid-gap: .25em;
    grid-template-columns: .5fr .5fr .5fr;
    grid-template-rows: 5em;
    margin: 1em;
}

.friend {
    background-color: var(--med-blue);
    border: 2px solid red;
}

p {
    color: whitesmoke;
    background-color: var(--med-blue);
}